{% extends 'urlshortener/base.html' %}

{% block body %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

<div class="container">
  <div class="card mt-5">
    <div class="card-header text-center py-3">
      <h1>Login</h1>
    </div>
    <div class="px-3 py-4">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="row g-1 justify-content-center">
          <div class="col-1">{{ form.username.label_tag }}</div>
          <div class="col-2">{{ form.username }} </div>
        </div>
        <div class="row g-1 justify-content-center">
          <div class="col-1">{{ form.password.label_tag }}</div>
          <div class="col-2">{{ form.password }} </div>
        </div>
        <div class="row g-1 justify-content-center mt-2">
          <div class="col-3">
            <button class="btn btn-success btn-lg w-100" type="submit">
              Login
            </button>
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}